<form class="" action="index.html" method="post">
  <input type="button" name="name" class="title">
  <input type="button" name="name" class="input">
  <button type="button" class="form-button" name="button">Button</button>
</form>
